<!-- <div id="background" class="bg" [style.background-color]="bgcolor">
</div>
<div class="frame noblur" style="display:inline-block;">
    <img class="album_art" [src]="albumImg" style="height:90vh;
"/>
</div>
<div class="frame noblur" style="display:inline-block;">
    <h1>{{ playing }}</h1>
    <h2>{{ artist }}</h2>
    <div [style.width]="complete" style="height:3px; background: black; display:inline-block;"></div>
    <div [style.width]="duration" style="height:3px; background: lightgrey; display:inline-block;"></div>
    <br/>
   <app-stream-audio></app-stream-audio>
    <br/>
    <h1>{{ newsHeadline }}</h1>
    <h2>{{ newsDesc }}</h2>
    <img class="news_img" [src]="newsImgUrl"/>
</div> -->
<h1>homepage</h1>