h1 {
    font-family: Bahnschrift Light, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 80px;
}

@media screen and (max-width: 1500px){
    h1 {
        font-family: Bahnschrift Light, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 50px;
    }
}


h2 {
    font-family: Bahnschrift Light, Arial, Helvetica, sans-serif;
    color:black;
}

img.album_art {
    box-shadow: 5px 5px black;
}

div.frame {
    margin: 2vh;
    display: inline-block;
    vertical-align: top;
}

.noblur {
    filter: blur(0);
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }