<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div id="background" class="bg" [style.background-color]="bgcolor">
</div>
<div class="frame noblur" style="display:inline-block;">
    <img class="album_art box-shadow" [src]="albumImg" style="height:90vh;
"/>
</div>
<div class="frame noblur" style="display:inline-block; width: 50vw">
    <div *ngIf="nightMode; else dayMode">
        <h1 id="song_title" class="night">
            <span id="song_text">{{ playing }}</span>
        </h1>
        <h2 id="artist_title" class="night">
            <span id="artist_text">{{ artist }}</span>
        </h2>
    </div>
    <ng-template #dayMode>
        <h1 id="song_title" class="day">
            <span id="song_text">{{ playing }}</span>
        </h1>
        <h2 id="artist_title" class="day">
            <span id="artist_text">{{ artist }}</span>
        </h2>
    </ng-template>
    
    
    <app-stream-audio></app-stream-audio>
    <div id="card">
        <div [hidden]="secondaryDisplay != 'News'">
            <news-card [night]="nightMode"></news-card>
        </div>
        <div [hidden]="secondaryDisplay != 'Spotify Image'" class="artistImgBox center-cropped">
            <img *ngIf="artistImg" [src]="artistImg" class="image-fit box-shadow" [id]="nightMode ? 'night' : 'day'"/>
        </div>
        <div [hidden]="secondaryDisplay != 'Wiki Image'" class="artistImgBox center-cropped">
            <wiki-card [night]="nightMode"></wiki-card>
        </div>
    </div>
    
    
    
</div>