

button {
    /* background-color: cornflowerblue;
    border-radius: 3px;
    height: 100px;
    width: 300px;
    border-width: 1px;
    appearance: outline; */

    background-color: #23b83c;
	border: 2px solid black;
	color: whitesmoke;
	padding: 1em 1.5em;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	display: inline-block;
	border-radius: 5px;
	/* box-shadow: 3px 3px 8px 0 #000; h-offset v-offset blur spread color */
}

.parent > * {
    position: relative;
}

.bg {
	background-image: linear-gradient(green, whitesmoke);
}

h1 {
    font-family: Bahnschrift SemiBold, Arial, Helvetica, sans-serif;
    font-size: 7vh;
    font-weight: bold;
    font-style: italic;
    color:black;
    text-align: center;
}