
    <h3 [class]="night ? 'night' : 'day'" class="cardLabel">+ Add to Queue</h3>

    <div class="row hover" (click)="addRec(this.uri1)">
        <img class="img" [src]="recImg1"/>
        <p [class]="night ? 'night' : 'day'" id="title">{{this.recTitle1}}</p>
        <p [class]="night ? 'night' : 'day'" id="artist">{{this.artist1}}</p>
    </div>

    <div class="row hover" (click)="addRec(this.uri2)">
        <img class="img" [src]="recImg2"/>
        <p [class]="night ? 'night' : 'day'" id="title">{{this.recTitle2}}</p>
        <p [class]="night ? 'night' : 'day'" id="artist">{{this.artist2}}</p>
    </div>

