.img {
    width: 20vw;
    height: 20vw;

}

.row {
    display: inline-block;
    margin:2vh;
}

.img:hover {
    opacity: 70%;
}

.img:active{
    opacity: 50%;
}

p {
    font-family: Bahnschrift SemiBold, Arial, Helvetica, sans-serif;
    font-size: 2.3vh;
    word-break: break-all;
}

h3 {
    font-family: Bahnschrift SemiBold, Arial, Helvetica, sans-serif;
    font-size: 3vh;
    word-break: break-all;
}

p.title {
    font-weight: bold;
}

p.artist {
    font-weight: initial;
}

.cardLabel {
    margin: 2vh;
}