<div id="background" class="bg" [style.background-color]="bgcolor">
</div>
<div class="frame noblur" [style.box-shadow]="boxshadowConcat()" style="display:inline-block;">
    <img class="album_art" id="bg_album" [src]="albumImg"/>
</div>
<div class="noblur" style="display:inline-block; width: 45vw" >
    <div *ngIf="nightMode; else dayMode">
        <h1 id="song_title" class="night">
            <span id="song_text">{{ songName }}</span>
        </h1>
        <h2 id="artist_title" class="night">
            <span id="artist_text">{{ artist }}</span>
        </h2>
    </div>
    <ng-template #dayMode>
        <h1 id="song_title" class="day">
            <span id="song_text">{{ songName }}</span>
        </h1>
        <h2 id="artist_title" class="day">
            <span id="artist_text">{{ artist }}</span>
        </h2>
    </ng-template>
    
    <div id="card" [style.background-color]="bgdark">
        <!-- <div [hidden]="secondaryDisplay != 'News'">
            <news-card [night]="nightMode"></news-card>
        </div> -->
        <div [hidden]="secondaryDisplay != 'Spotify Image'" class="artistImgBox center-cropped">
            <img *ngIf="artistImg" [src]="artistImg" class="image-fit" [id]="nightMode ? 'night' : 'day'"/>
        </div>
        <div [hidden]="secondaryDisplay != 'Wiki Image'">
            <wiki-card [night]="nightMode"></wiki-card>
        </div>
        <div [hidden]="secondaryDisplay != 'Suggester'">
            <suggester [night]="nightMode"></suggester>
        </div>
    </div>
    <!-- <img src="assets/img/linernotesinstruction.gif" /> -->
    
    
    
</div>